body {
  margin: 0;
}

.hidden {
  display: none;
}

.landingpage {
  margin: 0 auto;
  padding: 0 80px;
  position: relative;
  max-width: 100%;
  background-color: #1F1D2B;
}
.landingpage::before {
  content: "";
  position: absolute;
  width: 123px;
  height: 123px;
  left: 60%;
  top: 138px;
  filter: blur(90px);
  background-color: #006E99;
    animation: background-animation 10s ease-in-out infinite;
}

@keyframes background-animation {
    0%, 100% {
        background-color: #006E99;
    }
    50% {
        background-color: #000000;
    }
}

.landingpage::after {
  content: "";
  position: absolute;
  width: 123px;
  height: 123px;
  left: 80%;
  top: 550px;
  background-color: #006E99;
  filter: blur(80px);
     animation: background-animation 6s ease-in-out infinite;
}

@keyframes background-animation {
    0%, 100% {
        background-color: #006E99;
    }
    50% {
        background-color: #00D090;
    }
}
